.login>h1{
  text-align: center;
}
.login{
  width:50%;
  margin:auto;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login input:focus {
border: none;
}
.login input:active {
border: none;
}
.login input {
border: none;
font-size: 18px;
}
.login-image{
width: 80%;
display: block;
margin: auto;
}
.login-text {
color: rgb(77, 77, 224);
}
.login form{
width:70%;
display: block;
margin: 20px auto;
}
.input-box {
width: 70%;
padding:10px 15px;
border: 1px solid rgb(95, 95, 235) !important;
}
.input-box:focus {
outline:none;
}
.submit-btn {
background: rgb(96, 96, 236);
padding:10px 15px;
margin-left: 10px;
color: aliceblue;
cursor: pointer;
transition: all ease .3s;
border:1px solid transparent !important;
}
.submit-btn:hover{
color:rgb(96, 96, 236);
border:1px solid rgb(96, 96, 236) !important;
background: none;
}
  .header {
    width: 90%;
  }
  .header .left li {
    list-style: none;
  }
  .header .left li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 0 12px;
    padding: 13px 0;
    display: block;
    border-bottom: 3px solid transparent;
    transition: 0.3s all ease;
  }
  .header .left li a:hover {
    border-bottom: 3px solid #afb2fc;
  }
  .header .right .option {
    margin: 0 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s all ease;
  }
  .header .right .option:hover {
    color: #ddd;
  }
  .header .right .user {
    margin-left: 15px;
    font-size: 35px;
  }
  .leftSide {
    box-shadow: 2px 2px 10px #ddd;
    border-radius: 20px;
  }
  .leftSide .left img {
    width: 60%;
  }
  .leftSide .headRight h5 {
    margin: 0;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .leftSide .headRight p {
    margin: 0;
    font-size: 12px;
  }
  .invoiceInformation {
    width: 95%;
    background-color: #003eb8;
    border-radius: 20px;
    overflow:hidden;
  }
  .invoiceInformation .left p {
    color: white;
    font-size: 13px;
    margin: 0;
  }
  .invoiceInformation .v-label{
    color: white !important;
    font-size:13px;
  }
  .invoiceInformation .v-icon{
    color: white !important;
    margin-left: 15px;

  }
  .invoiceInformation .theme--light.v-text-field > .v-input__control > .v-input__slot:before{
    background-color: white;
  }
  .invoiceInformation .v-text-field input{
    color:white !important;
    font-size:13px;
  }
  input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;  
}
  .invoiceInformation .right p {
    font-size: 12px;
    color: white;
    margin:5px 0;
  }
  .invoice {
    width: 90%;
  }
  .invoice .v-text-field .v-label{
    padding-left:10px;
    font-size:15px;
  }
  .invoice .v-input{
    margin-top:0;
    padding-top:0;
  }
  .invoice .select .v-label{
    position:unset !important;
  }
  .invoice .v-input__control{
    flex-direction:unset;
    flex-wrap: nowrap;
  }
  .invoice .theme--light.v-text-field > .v-input__control > .v-input__slot:before{
    display: none;
  }
  .invoice > p {
    color: red;
    text-align: center;
    font-style: italic;
  }
  .invoice .moneySign {
    font-size: 13px;
    margin-bottom: 1px;
    margin-right: 2px;
  }
  .invoice table {
    border-spacing: 0;
    width: 100%;
  }
  .invoice h6 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top:20px;
  }
  .invoice table tr {
    background-color: #f3f1f1;
  }
  .invoice table tr:first-child td {
    padding: 10px;
  }
  .invoice table tr td,
  th {
    background-color: #f3f1f1;
    border: none;
    text-align: left;
    margin-top: 10px;
    width: 20%;
  }
  .invoice .items td {
    padding: 10px !important;
  }
  .invoice .items{
    margin-bottom:20px !important;
  }
  .invoice table .close {
    cursor: pointer;
    font-style:unset;
  }
  .invoice table tr td:nth-child(5) {
    width: 15%;
    padding-left: 5px;
  }
  .invoice table tr .plus {
    font-size: 20px;
    background-color: #7290fa;
    color:white;
    border-radius:10px;
    font-style:unset;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    width:20px;
    height:20px;
    transition: all ease 0.3s;
  }
  .invoice table tr .plus:hover {
    background-color: #466df8;
  }
  .paymentMethod {
    width: 90%;
  }
  .paymentMethod .left > p {
    font-size: 15px;
    margin:5px 0;
  }
  .paymentMethod .left > p span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
  }
  .paymentMethod .right p:first-child {
    font-weight: bold;
  }
  .paymentMethod .right p span {
    font-weight: bold;
    margin-left: 30px;
  }
  .paymentMethod .right div>p{
      margin:5px;
  }
  .rightSide .clientDetails>h4{
      margin-bottom:15px;
      margin-top:5px;
  }
  .clientDetails {
    box-shadow: 2px 2px 10px #ddd;
    border-radius: 20px;
    padding: 10px 15px;
  }
  .clientDetails .v-label{
    font-size:13px;
  }
  .rightSide .clientDetails .clientLeft .user {
    font-size: 50px;
    color: #ff0d0d;
  }
  .rightSide .setting {
    margin-right: 15px;
    font-size: 30px;
    margin-top: 10px;
    color: #848080;
  }
  .rightSide .clientDetails > p {
    margin: 0;
    font-size: 13px;
    margin-top: 5px;
    color: rgb(185, 183, 183);
  }
  .rightSide .rightMoneySign {
    font-size: 20px;
    margin-bottom: 4px;
  }
  .rightSide .amountDue {
    box-shadow: 2px 2px 10px #ddd;
    border-radius: 20px;
    padding: 10px 20px;
  }
  .rightSide .amountDue h1 {
    margin: 0;
  }
  .rightSide .amountDue h1 sub {
    font-size: 17px;
    color: #7c7878;
  }
  .rightSide .amountDue > p {
    color: #ff5959;
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
  }
  .rightSide .amountDue > p span {
    color: #ff4e4e;
    margin-left: 10px;
    font-size: 14px;
  }
  .rightSide > button {
    border-radius: 30px;
    cursor: pointer;
    padding:10px;
  }
.rightSide .pdfSelector{
  width:50px !important;
  padding:5px;
  height:40px;
  background-color:rgb(206, 202, 202);
  overflow: hidden;
  border-radius:20px;
  cursor: pointer;
  position: relative;
}
.rightSide .pdfSelector button{
  background-color:white;
  border-radius:50px;
  width:30px;
  height:30px;
  border:none;
  position:absolute;
  left:5px;
  cursor: pointer;
  transform:.3s all ease;
}
.loader{
  width:100%;
  height:100%;
  background-color:rgba(221, 221, 221, 0.389);
  position: fixed;
  top:0%;
  left:0%;
  display: none;
  justify-content: center;
  align-items: center;
}
.alert{
  width:40%;
  position: fixed;
  top:80%;
  left:30%;
  display:none;
}